{% extends "shop/base.html" %}
{% block content %}
<div class = "container">
		<div class="row">
			
	{% for product in products %}
	<div class="col-xl">
	<div class="card" style="width:400px;background-color: #dcdcdc" >
		<h6 style="margin-left: 2%;margin-top: 2%" > {{product.date_posted}}</h6><p style="color: dodgerblue;margin-right: 70%; font-size:25px;margin-left: 2%" >  {{ product.seller }}</p>
	  <img class="card-img-top" style="height:200px" src="{{product.image.url}}" alt="Card image"/>
	  <div class="card-body" >
		<dl>
		<dt style="font-size: 20px" >	
		 {{product.name}} 
		</dt>
		<dd style="color: #ce2029" >
		 - {{product.price}} 
		</dd>
		</dl>
		<pre> {{product.description}} </pre>
		
		
	  </div>
	</div>
	&nbsp
</div>
	
	{% endfor %}

</div>
</div>
	
{% endblock content %}