{% extends "shop/base.html" %}
{% block content %}
<div class = "container">
		<div class="row">
			
	{% for product in products %}
	<div class="col-xl">
	<div class="card bg-secondary text-white" style="width:400px" >
	  <img class="card-img-top" style="height:200px" src="{{product.image}}" alt="Card image">
	  <div class="card-body" >
		<h1>{{ product.seller }} </h1>
		<h3> {{product.name}} </h3>
		<p style="font-size: 10px; margin-left: 70% " >{{product.date_added}}</p>
		
	  </div>
	</div>
	&nbsp
</div>
	
	{% endfor %}

</div>
</div>
	
{% endblock content %}