
{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class = "container">
		<div class="row">
			
	{% for product in products %}
	<div class="col-xl">
	<div class="card" style="width:400px;background-color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" >
		
		<div>
		<div style="float: left">
		<img class = 'rounded-circle article' style="height: 70px;width: 70px;margin-left: 15%;margin-top: 5%" src = "{{product.seller.profile.image.url}}">

		</div>
		<div style="float:right;margin-right: 54%" >
		<p style="color: dodgerblue;  font-size:20px;margin-left: 1% ;margin-top: 30%;width:100px; ;" >  {{ product.seller }}</p>
		</div>
	</div>
	  <img class="card-img-top" style="height:200px" src="{{product.image.url}}" alt="Card image"/>
	  <div class="card-body" >
		<dl>
		<dt style="font-size: 20px" >	
		 <a href = "{% url 'product-detail' product.id %}">{{product.name}}</a> 
		</dt>
		<dd style="color: #ce2029" >
		 - {{product.price}} 
		</dd>
		</dl>
		<button data-product={{product.id}} data-action="add" type="button" class="btn btn-outline-secondary update-cart ">Add to Cart</button>
		<br>
		<br>
		<pre> {{product.description}} </pre>
		<h6 style="margin-left: 2%;margin-top: 2%" > {{product.date_posted}}</h6>
		
	  </div>
	</div>
	&nbsp
</div>
	
	{% endfor %}

</div>
</div>

	
{% endblock content %}


