{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="card" style="width:800px">
		<div class="media border p-3"  >
			<img class ="rounded-circle" style="height: 80px;width: 80px" src = "{{ user.profile.image.url}}">

			</div>
				<div  class="media-body" style="margin-left: 2%" >
					<h2 class = "account-heading" > {{ user.username}} </h2>
					<p class = "text-secondary">{{ user.email }}</p>

			</div>	
			<form method="POST" enctype="multipart/form-data" style="margin-left: 2%;width: 700px" >
				{% csrf_token %}
				<fieldset class="form-group" >
					<legend class = "border-bottom mb-4"> Profile Info </legend>
					{{ u_form | crispy }}
					{{ p_form | crispy }}
				</fieldset>
				<div class="form-group" >
					<button class="btn btn-outline-info" type = "submit">
					Update
					</button>
				</div>
		</form>
	</div>
{% endblock content %}